<%= render 'shared/navbar_sansachat' %>
<%= render '/pages/sidebar' %>
<div class="dashboard-content">
  <div class="container">
    <div class="dashboard-information">
      <%= render "simple_form", relance: @relance  %>
      <hr>
      <p> L'ajout d'élèments permettra de créer votre lettre de relance.</p>
      <hr>
<<<<<<< HEAD
      <%= link_to "Back to index", root_path %>
=======
      <%= link_to "Générer le word", relance_path(@relance) %>
      <br>
>>>>>>> miseendemeure
    </div>
  </div>
</div>
