<%= current_user.first_name%>
<%= current_user.use_name%>
<%= current_user.address%>

<h2>Monsieur le Dirigeant</h2>


<p>Sauf erreur ou omission de notre part, à ce jour, nous n’avons toujours pas reçu le règlement de notre facture ayant pour référence : <%= @relance.name %>  du <%= @relance.created_at %> d’un montant de <%= @relance.creance %>  euros.

L’échéance étant dépassée, nous sommes soucieux qu’un problème ait pu retarder votre paiement. Si tel était le cas, n’hésitez pas à nous contacter.

Cependant, s’il s’agit d’un simple oubli, nous vous demandons de bien vouloir régulariser cette situation par retour de courrier.

Dans le cas où votre règlement aurait été adressé entre temps, nous vous prions de ne pas tenir compte de la présente.

Restant à votre disposition pour tout renseignement complémentaire.</p>

Nous vous remerciant par avance et vous prions d'agréer, (Madame, Monsieur), l’expression de nos salutations distinguées.


