<h2>Analyse financière</h2>

Les chiffres de la société <%= current_user.use_name %> sont les suivants :

Chiffres  :   Données

Chiffre d' affaires : <%= @comptabilite.chiffre_affaire %>

Seuil de rentabilité  :  <%= @seuil_rentabilite %>

Charges variables : <%= @charges_variables %>

Capacité d'auto-financement : <%= @caf %>




