<div class="container ta-center pb-5">
  <h2>Sign up</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
<div class="container-fluid" id="container_presentation">
  <div class="row">
    <div class="col-sm-7">
      <h2 id="title"> Les avantages de l'auto-entreprise</h2>
      <p style =" padding-left: 40px;">La micro-entreprise permet d'être indépendant sans la lourdeur des autres formes de sociétés.</p>
      <ul id="collection">
        <li>Pas de capital Social à verser</li>
        <li>Pas de Comptabilité à tenir</li>
        <li>Un régime social simplifié</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <%= cl_image_tag("avantage", class:"img", height: 350, width: 400 ) %>
    </div>
  </div>
</div>
<div class="container-fluid", id="frame_container">
  <div class="row">
    <div class="col-sm-7">
      <h2 id="title"> Les inconvénients de l'auto-entreprise</h2>
      <ul id="collection">
        <li>Limitation du Chiffre d'affaires</li>
        <li>Pas de frais réels</li>
        <li>Une responsabilité illimitée</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <%= cl_image_tag("défaut", class:"img", height: 350, width: 400 ) %>
    </div>
  </div>
</div>
