<section id="sign-up">
  <div class="row">
    <div class="col-lg-6  bg-primary">
      <div class="p-4"> <%= image_tag "signup.svg", width: 900 %></div>
    </div>
    <div class="col-lg-6 bg-secondary">
      <div class="sign-up-container ">
        <h1>Je crée mon compte</h1>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-group">
            <div class="input-group mb-5">
              <div class="form-control">
                <%= f.input_field :email,
                  required: true,
                  autofocus: true,
                  placeholder: "name@email.com",
                  input_html: { autocomplete: "email"}%>
              </div>
              <span class="input-group-text">
                <svg width="20" height="20" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"></path>
                </svg>
              </span>
            </div>
            <div class="input-group mb-5">
              <div class="form-control">
                <%= f.input_field :password,
                  required: true,
                   placeholder: "Entrez votre mot de passe",
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),    
                  input_html: { autocomplete: "new-password"} %>
              </div>
              <span class="input-group-text">
                <svg width="20" height="20" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path>
                </svg>
              </span>
            </div>
            <div class="input-group mb-5">
              <div class="form-control">
                <%= f.input_field :password_confirmation,
                  required: true,
                   placeholder: "Confirmez votre mot de passe",
                  input_html: { autocomplete: "new-password" } %>
              </div>
              <span class="input-group-text">
                <svg width="20" height="20" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"></path>
                </svg>
              </span>
            </div>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "C'est parti!", class: 'btn btn-warning rounded py-3 text-muted h1' , id: 'sign-up-btn'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="presentation">
  <div class="container-fluid" id="container_presentation">
    <div class="row">
      <div class="col-sm-7">
        <h2 id="title"> Les avantages de l'auto-entreprise</h2>
        <p style =" padding-left: 40px;">La micro-entreprise permet d'être indépendant sans la lourdeur des autres formes de sociétés.</p>
        <ul id="collection">
          <li>Pas de capital Social à verser</li>
          <li>Pas de Comptabilité à tenir</li>
          <li>Un régime social simplifié</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <%= cl_image_tag("avantage", class:"img", height: 350, width: 400 ) %>
      </div>
    </div>
  </div>
  <div class="container-fluid", id="frame_container">
    <div class="row">
      <div class="col-sm-7">
        <h2 id="title"> Les inconvénients de l'auto-entreprise</h2>
        <ul id="collection">
          <li>Limitation du Chiffre d'affaires</li>
          <li>Pas de frais réels</li>
          <li>Une responsabilité illimitée</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <%= cl_image_tag("défaut", class:"img", height: 350, width: 400 ) %>
      </div>
    </div>
  </div>
</div>
