<%= simple_form_for invoice do |f| %>
  <table class="table table-sm table-striped" style= "width: 600px; ">
    <tbody>
      <tr>
         <td>  <%= f.input :object, label: "Objet de la facture", class:"form-control" %></td>
      </tr>
       <tr>
         <td> <%= f.input :amount, label: "Montant", class:"form-control" %></td>
      </tr>
       <tr>
         <td> <%= f.input :invoiced_at, label: "Date de la facture", as: :date, html5: true, class:"form-control" %></td>
       </tr>
       <tr>
        <td><%= f.association :client, label_method: :client, value_method: :id, include_blank: false, class:"form-control"  %></td>
      </tr>
  </tbody>
</table>
  <%= f.submit "Générez votre facture", class: "btn btn-primary"%>
<% end -%>


