

<%= render 'shared/navbar_sansachat' %>
<%= render '/pages/sidebar' %>

<div class="dashboard-content" style="margin-left: 250px; margin-right: 30px">


    <div class="row pt-4 d-flex justify-content-between my-0 py-0">
      <div class="dashboard-upper-part col-xs-12 col-sm-7">
        <div class="dashboard-upper-part-card" style="width: 15%">
          <div><i class="fas fa-chart-line"></i> CA</div>
          <div id="turnover" style="font-size: 1.6rem">
            <span id="monthly-turnover"><%= @turn_over %> <i class="fas fa-euro-sign"></i> <span class='date-italics'>(<%= @previous_year_month_variation_rate  %>%) <%= link_to '#' do %><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Variation par rapport au même chiffre année n-1"></i><% end %></span></span>
            <span id="yearly-turnover" class="d-none"><%= @past_12_months_turnover %> <i class="fas fa-euro-sign"></i> <span class='date-italics'>(<%= @previous_year_past_12_month_variation_rate  %>%) <%= link_to '#' do %><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Variation par rapport au même chiffre année n-1"></i><% end %></span></span>
            <span id="exercise-turnover" class="d-none"><%= @current_year_turnover %> <i class="fas fa-euro-sign"></i> <span class='date-italics'>(<%= @previous_year_same_month_exercise_variation_rate  %>%) <%= link_to '#' do %><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Variation par rapport au même chiffre année n-1"></i><% end %></span></span>
          </div>
          <div class="d-flex justify-content-center">
            <div>
              <button class="btn btn-ghost active" id="btn-monthly-turnover" >Mois</button>
            </div>
            <div>
              <button class="btn btn-ghost" id="btn-yearly-turnover" >12 Mois</button>
            </div>
            <div>
              <button class="btn btn-ghost" id="btn-exercise-turnover" >Exercice</button>
            </div>
          </div>
        </div>
        <div class="dashboard-upper-part-card" style="width: 15%">
          <div><i class="fas fa-users"></i> Nouveaux clients</div>
          <div style="font-size: 1.6rem">
            <span id="past-month-new-clients">+ 9</span>
            <span id="past-year-new-clients" class="d-none">+ 126</span>
            <span id="this-exercise-new-clients" class="d-none">+ 23</span>
          </div>
          <div class="d-flex justify-content-center">
            <div>
              <button class="btn btn-ghost active" id="btn-month-new-clients" >Mois</button>
            </div>
            <div>
              <button class="btn btn-ghost" id="btn-year-new-clients"  >12 Mois</button>
            </div>
            <div>
              <button class="btn btn-ghost" id="btn-exercise-new-clients" >Exercice</button>
            </div>
          </div>
        </div>
      </div>
      <div class="dashboard-upper-part-card col-xs-12 col-sm-4 pr-0 mr-0" style="width: 30%">
        <div>Les échéances du mois</div>
        <div>
        <span class="text"> Déclaration de chiffres d'affaires avant le 31/03/2021 </span>
      </div>
      </div>
    </div>

    <div class="row pt-4 d-flex justify-content-between my-0 py-0">
        <div class="col-xs-12 col-sm-7 dashboard-chart-card">
          Chiffre d'affaire sur 12 mois glissants
          <canvas id="myChart2" data-turn_over= "<%= @turn_over %>"
         data-turn_over= "<%= @turn_over %>"height="200" aria-label="Hello ARIA World" >
            <p>Hello Fallback World</p>
          </canvas>
        </div>
        <div class="col-xs-12 col-sm-4 dashboard-chart-card">
          <div class='mb-0'>Chiffre d'affaire de l'année</div>
          <div class= 'date-italics'>(Évolution en % par rapport à l'année précédente)</div>
          <div class='mt-6 py-2'>
            <canvas id="doughnut-chart" data-current-year= "<%= @current_year_data_service %>" data-variation-rate= "<%= @previous_year_same_month_exercise_variation_rate %>" height="200" aria-label="Hello ARIA World" class="pt-6">
              <p>Hello Fallback World</p>
            </canvas>
          </div>
          <div class="py-2 d-flex justify-content-around" style="font-size: 1.2rem">
              <div style="margin-left: 60px">
                <%= @cturn_over %> <i class="fas fa-euro-sign"></i> / 72000 <i class="fas fa-euro-sign"></i>
              </div>
              <div>
                 <%= link_to '#' do %><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="72000€ coorespond au CA max pour votre activité" ></i><% end %>
              </div>
          </div>
          <div class="pb-2 date-italics">
            Estimation des taxes : <%= @current_year_total_taxes_service %> <i class="fas fa-euro-sign"></i>
          </div>
          <div class="d-flex justify-content-center py-2">
            <div>
              <button class="btn btn-ghost" id="btn-monthly-turnover" style="width: 32px" >2019</button>
            </div>
            <div>
              <button class="btn btn-ghost" id="btn-yearly-turnover" style="width: 32px" >2020</button>
            </div>
            <div>
              <button class="btn btn-ghost active" id="btn-exercise-turnover" style="width: 32px" >2021</button>
            </div>
          </div>
        </div>
    </div>

    <div class="row pt-4 d-flex justify-content-between my-0 py-0">
      <div class="col-12 dashboard-chart-card">
        <div class='mb-2' style="font-size: 1.5rem">VOS PROCHAINES ÉCHÉANCES</div>
        <div class='mt-6 py-2'>
          <div class="dashboard-upper-part-card px-0" style="width: 95%">
            <table class="table">
            <tbody>
              <tr>
                <td style="border-top: 0px; font-size: 1.2rem">Chiffres d'affaire de l'année</td>
                <td style="border-top: 0px; opacity: 0.6"><%= @turn_over  %> <i class="fas fa-euro-sign"></i></td>
                <td class= "date-italics" style="border-top: 0px">31/03/2021</td>
                <td style="border-top: 0px"><span class="badge badge-secondary" style= "background-color: #edae2f">À déclarer</span></td>
                <td style="border-top: 0px"><%= link_to root_path do %><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="À déclarer à l'URSAFF"></i><% end %></td>
              </tr>
              <tr>
                <td style="font-size: 1.2rem">Cotisations sociales de février 2021</td>
                <td style="opacity: 0.6" >
                  <% if current_user.main_activity_choose == "commerce de détail" %>
                    <%= @@charge_sociale_vente %>
                  <% else %>
                  <%= @charge_sociale_service %>
                  <% end %>
                   <i class="fas fa-euro-sign"></i>
                </td>
                <td class= "date-italics">31/03/2021</td>
                <td><span class="badge badge-secondary" style= "background-color: #0061f2"> À payer </span></td>
                <td><%= link_to '#' do %><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="À payer à l'URSAFF, calculé sur le CA de février 2021" ></i><% end %></td>
              </tr>
              <tr>
                <td style="font-size: 1.2rem">Impôt sur le revenu mensualisé</td>
                <td style="opacity: 0.6" >
                  <% if current_user.main_activity_choose == "commerce de détail" %>
                    <%= @income_tax_revente   %>
                  <% else %>
                    <%= @income_tax_service %>
                  <% end %>
                  <i class="fas fa-euro-sign"></i>
                </td>
                <td class= "date-italics">31/03/2021</td>
                <td><span class="badge badge-secondary" style= "background-color: #0061f2">À payer</span></td>
                <td><%= link_to '#' do %><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Calculé sur vos revenus 2019"></i><% end %></td>
              </tr>
                <tr>
                <td style="font-size: 1.2rem">TVA année 2020</td>
                <td style="opacity: 0.6"><%= @tva %> <i class="fas fa-euro-sign"></i></td>
                <td class= "date-italics">02/05/2021 </td>
                <td><span class="badge badge-secondary" style= "background-color: #edae2f">À déclarer</span></td>
                <td><%= link_to '#' do %><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Calculé sur le CA de 2020"></i><% end %></td>
              </tr>
              <tr>
                <td style="font-size: 1.2rem">Déclaration impôt sur le revenu année 2020 </td>
                <td style="opacity: 0.6" >
                  <% if current_user.main_activity_choose == "commerce de détail" %>
                    <%= @past_year_income_tax_revente %>
                  <% else %>
                    <%= @past_year_income_tax_service %>
                  <% end %>
                   <i class="fas fa-euro-sign"></i>
                </td>
                <td class= "date-italics">30/05/2021</td>
                <td><span class="badge badge-secondary" style= "background-color: #edae2f">À déclarer</span></td>
                <td ><%= link_to '#' do %><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Montant à déclarer pour l'activité de votre micro-entreprise"></i><% end %></td>
              </tr>
              <tr>
                <td style="font-size: 1.2rem">CFE</td>
                <td style="opacity: 0.6">823 <i class="fas fa-euro-sign"></i></td>
                <td class= "date-italics">15/09/2021</td>
                <td><span class="badge badge-secondary" style= "background-color: #0061f2">À payer</span></td>
                <td><%= link_to '#' do %><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Calculé sur la valeur locative des biens immobiliers de 2019"></i><% end %></td>
              </tr>
              <tr>
                <td style="font-size: 1.2rem">Taxes consulaires</td>
                <td style="opacity: 0.6">
                  <% if current_user.main_activity_choose == "commerce de détail" %>
                    <%= @past_year_taxe_chambre_consulaire_vente %>
                  <% else %>
                    <%= @past_year_taxe_chambre_consulaire_service %>
                  <% end %>
                   <i class="fas fa-euro-sign"></i>
                </td>
                <td class= "date-italics">30/09/2021</td>
                <td><span class="badge badge-secondary" style= "background-color: #0061f2">À payer</span></td>
                <td><%= link_to '#' do %><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="" ></i><% end %></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
</div>



<!--



<div style="margin-left: 250px">
      <div class="col-xs-12 col-sm-3 dashboard-chart-card">
        <div class='mb-2'>À déclarer</div>
        <div class='mt-6 py-2'>
          <div class="dashboard-upper-part-card px-0" style="width: 85%">
            <div>Impôt sur le revenu</div>
            <div>
              <% if current_user.main_activity_choose == "commerce de détail" %>
                <%= @past_year_income_tax_revente %>
              <% else %>
                <%= @past_year_income_tax_service %>
              <% end %>
              <i class="fas fa-euro-sign"></i>
            </div>
            <div class= "date-italics">30/05/2021</div>
          </div>

         <div class="dashboard-upper-part-card px-0" style="width: 85%">
            <div>TVA</div>
            <div>
              <%= @past_year_tva  %>
              <i class="fas fa-euro-sign"></i>
            </div>
            <div class= "date-italics">02/05/2021</div>
          </div>
          <div class="dashboard-upper-part-card px-0" style="width: 85%">
            <div>Chiffres d'affaire du mois</div>
            <div> <%= @current_month_turnover  %><i class="fas fa-euro-sign"></i></div>

            <div class= "date-italics">30/03/2021</div>
          </div>


       </div>
      </div>
      <div class="col-xs-12 col-sm-3 dashboard-chart-card">
        <div class='mb-2'>À payer</div>
        <div class='mt-6 py-2'>
          <div class="dashboard-upper-part-card px-0" style="width: 85%">
            <div>Côtisations sociales</div>
            <div>
              <% if current_user.main_activity_choose == "commerce de détail" %>
                <%= @past_year_charge_sociale_vente %>
              <% else %>
                <%= @past_year_charge_sociale_service %>
              <% end %>
              <i class="fas fa-euro-sign"></i>
            </div>
            <div class= "date-italics">31/03/2021</div>
          </div>
          <div class="dashboard-upper-part-card px-0" style="width: 85%">
            <div>CFE</div>
            <div>823.05 <i class="fas fa-euro-sign"></i></div>

            <div class= "date-italics">15/09/2021</div>
          </div>
          <div class="dashboard-upper-part-card px-0" style="width: 85%">
            <div>Taxes consulaires</div>
            <div>
              <% if current_user.main_activity_choose == "commerce de détail" %>
                <%= @past_year_taxe_chambre_consulaire_vente %>
              <% else %>
                <%= @past_year_taxe_chambre_consulaire_service %>
              <% end %>
              <i class="fas fa-euro-sign"></i>
            </div>
            <div class= "date-italics">30/09/2021</div>
          </div>
        </div>
      </div>

</div>

<div class="dashboard-chart-card" height="200" style="margin-left: 250px;">
            Tableau des CA mensuels des 12 derniers mois : <%= @monthly_past_12_months_turnover %>
            <hr>
            Tableau des CA mensuels des 12 mois précédents : <%= @monthly_previous_past_12_months_turnover %>
            <hr>
            CA de l'exercice / année en cours : <%= @current_year_turnover %>
            <hr>
            CA de l'année n-1 : <%= @past_year_turnover %>
            <hr>
            CA de l'année n-2 : <%= @previous_past_year_turnover %>
            <hr>
            Taxes de l'année en cours (si vente) : <%= @current_year_total_taxes_vente  %>
            <hr>
            Taxes de l'année en cours (si service) : <%= @current_year_total_taxes_service  %>
            <hr>
            Données graph doughnut : <%= @current_year_data %>
            <hr>
              Augmentation mensuelle année précédente<%= @previous_year_month_variation_rate %>, <%= @previous_year_month_variation_rate_1  %>
            <hr>
            Augn 12 mois glissants  <%=   @previous_year_past_12_month_variation_rate %>, <%= @previous_year_past_12_month_variation_rate_1 %>
            <hr>
            Aug exercice <%= @previous_year_same_month_exercise_variation_rate  %>
            <hr>
            <%= Invoice.group_by_month(:invoiced_at).sum(:amount).values %>




            <p> Votre chiffre d'affaires est égal à <%= @turn_over %> €</p>
            <b>Cotisations sociales</b><br />
            <% if current_user.main_activity_choose == "commerce de détail" %>
              <p> Vos cotisations Sociales sont égales à <%= @charge_sociale_vente %> €</p>
            <% else %>
              <p> Vos cotisations Sociales sont égales à <%= @charge_sociale_service %> €</p>
            <% end %>
            <p>
              <b>Taxe consulaire</b><br />
            </p>
            <br>
            <% if current_user.main_activity_choose == "commerce de détail" %>
              <p> Vos cotisations Sociales sont égales à <%= @taxe_chambre_consulaire_service %> €</p>
            <% else %>
              <p> Votre taxe consulaire est égale à <%= @taxe_chambre_consulaire_service %> €</p>
            <% end %>
            <p>
              <% if current_user.main_activity_choose == "commerce de détail" %>
                <p> Votre impôt sur le revenu à déclarer est égal <%= @income_tax_revente %> €</p>
              <% else %>
                <p> Votre impôt sur le revenu à déclarer est égal <%= @income_tax_service %> €</p>
              <% end %>

              <p> Si vous avez choisi d'être assujeti à la TVA, vous devez déclarer le chiffre <%= @tva %>€ </p>

              <% if current_user.main_activity_choose == "commerce de détail" %>
                <p> Il vous reste à facturer <%= @restant_a_facture_commerce %> €</p>
              <% else %>
                <p> Votre chiffre d'affaire maximum est de 72 000 €</p>
              <% end %>
            <p> Votre chiffre d'affaire maximum est de 72 000 €</p>
            Tableau : <%= @current_year_data_service  %>
          </div>
 -->
              <!-- <tr>
                <td style="border-top: 0px">Objet</td>
                <td style="border-top: 0px">Montant</td>
                <td style="border-top: 0px"class= "date-italics">Échéances</td>
                <td style="border-top: 0px"><span class="badge badge-secondary">New</span></td>
                <td style="border-top: 0px"><%= link_to root_path do %><i class="fas fa-info-circle"></i><% end %></td>
              </tr> -->

