<%= simple_form_for societe do |f| %>

<div class="form-title py-3" style ="width:620px; ">
    <h2 class="text-warning">Créer une relance</h2>
  </div>

  <table class="table table-sm table-striped" style= "width: 600px; ">
    <tbody>
      <tr>
         <td>  <%= f.input :denomination_sociale, label: "Votre dénomination sociale", class:"form-control" %></td>
      </tr>
       <tr>
         <td> <%= f.input :creance, label: "Montant", class:"form-control" %></td>
      </tr>
       <tr>
         <td> <%= f.input :creance_at, label: "Date de la facture", as: :date, html5: true, class:"form-control" %></td>
       </tr>
  </tbody>
</table>

  <%= f.submit "Générez vos statuts de société", class: "btn btn-warning"%>

<% end -%>

