<%= simple_form_for(@user, remote: true) do |f| %>
    <!-- <%= f.input :individual_entrepreneur, as: :select %> -->
<h2>Informations préalables</h2>
    <%= f.input :past_salaried_activity, label: "Avez-vous déjà exercé une activité non salariée", as: :select %>
    <%= f.input :exercising_mode_declaration, label: "Déclaration relative au mode d'exercice", collection: ["Entrepreneur Individuel", "Entrepreneur individuel à responsabilité limitée"] %>
    <%= f.input :spouse_working_in_company, label: "Avez-vous un conjoint marié ou pacsé exerçant une activité régulière dans l'entreprise", as: :select %>

<h2>Déclaration relative à l'établissement et à l'activité</h2>
    <%= f.input :company_address, label: "Adresse de l'entreprise", collection: ["Etablissement où vous exercez votre activité", "Dans une entreprise de domiciliation", "Votre domicile personnel"] %>
    <%= f.input :establishment_address, label: "Adresse de l'établissement" %>
    <%= f.input :company_city, label: 'Commune' %>
    <%= f.input :company_zipcode, label: 'Code postal'%>
    <%= f.input :company_country, label: 'Pays', priority: [ "France" ]  %>
    <%= f.input :paying_agent_number, label: "Domiciliataire : Numéro unique d'identification" %>
    <%= f.input :paying_agent, label: "Nom du domiciliataire" %>
    <%= f.input :start_activity, label: "Début de l'activité", input_html: { class: "calendar" } %>
    <%= f.input :seasonal_activity, label: "Activité permanente", as: :select  %>
    <%= f.input :itinerant_activity, label: "Activité saisonnière", as: :select  %>
    <%= f.input :main_activity_freetext, label: "Activité(s) exercée(s) dans l'établissment" %>
    <%= f.input :main_activity_choose, label: "Activité principale",
                                      collection: ["Commerce de détail en magasin", "Commerce de détail sur marché", "Commerce de détail sur Internet",
                                                  "Commerce de gros", "Fabrication, Production", "Bâtiment, travaux publics", "Autre"] %>
    <%= f.input :company_name, label: 'Nom commercial' %>
    <%= f.input :employee, label: "Effectif salarié", as: :select %>
    <%= f.input :business_origin, label: "Origine du fonds", collection: ["Création","Location - Gérance", "Achat, Partage, Licitation", "Autre"]%>


    <!-- <%= f.input :partner, as: :select %> -->
    <!-- <%= f.input :bic_status, as: :select %> -->


<h2>Déclaration sociale</h2>
    <%= f.input :other_activity, label: "Exercice simultanée d'une autre acivité", as: :select %>
    <%= f.input :contribution_periodicity, label: "Vous êtes au régime micro-social simplifié : périodicité du versement des cotisations", collection: ["Mensuelle", "Trimestrielle"] %>


<h2>Options fiscales hors EIRL</h2>
    <%= f.input :income_tax_lump_payment, label: "Vous relevez du régime microfiscal - Bénéfices Industriels et Commerciaux (BIC) : Option pour le versement libératoire de l’impôt sur le revenu", as: :select %>
    <%= f.submit "Suivant", class: "btn btn-primary" %>
<% end %>
