<%= simple_form_for(@user, remote: true) do |f| %>
  <div class="form-title py-3">
    <h2 class="text-warning">Déclaration relative à la personne</h2>
  </div>
  <table class="table table-sm table-striped">
    <tbody>
      <tr>
        <td class=" text-primary"> <%= f.label :first_name, "Prénoms" %></td>
        <td> <%= f.input_field :first_name,  class: "form-control" %></td>
      </tr>
      <tr>
        <td class="text-primary "> <%= f.label :birth_last_name,label: "Nom de naissance" %></td>
        <td> <%= f.input_field :birth_last_name, class: "form-control" %></td>
      </tr>
      <tr>
        <td class=" text-primary"> <%= f.label :use_name, "Nom d'usage" %></td>
        <td> <%= f.input_field :use_name, class: "form-control" %></td>
      </tr>
      <tr>
        <td class=" text-primary"> <%= f.label :pseudonym, "Pseudonyme" %></td>
        <td> <%= f.input_field :pseudonym,  class: "form-control" %></td>
      </tr>
      <tr>
        <td class=" text-primary"> <%= f.label :citizenship, "Nationalité"  %></td>
        <td> <%= f.input_field :citizenship, as: :country, priority: [ "France" ],  class: "form-control" %></td>
      </tr>
      <tr>
        <td class=" text-primary"> <%= f.label :gender, "Genre" %></td>
        <td> <%= f.input_field :gender, class: "form-control", collection: ["M", "F"]%></td>
      </tr>
      <tr>
        <td class=" text-primary"> <%= f.label :birth_date, "Date de naissance"%></td>
        <td> <%= f.input_field :birth_date,  class: "form-control calendar" , input_html:{class: "birth-calendar form-control calendar"}  %></td>
      </tr>
      <tr>
        <td class=" text-primary"> <%= f.label :birth_department, "Département de naissance"%></td>
        <td> <%= f.input_field :birth_department, class: "form-control", collection: (["01", "02", "03", "04", "05", "06", "07", "08", "09"]+(10..95).to_a+[971, 971, 973, 974, 976])  %></td>
      </tr>
      <tr>
        <td class=" text-primary"> <%= f.label :birth_city, "Commune de naissance" %></td>
        <td> <%= f.input_field :birth_city, class: "form-control"%></td>
      </tr>
      <tr>
        <td class=" text-primary"> <%= f.label :birth_country, "Pays de naissance" %></td>
        <td> <%= f.input_field :birth_country, class: "form-control",  as: :country, priority: [ "France" ]%></td>
      </tr>
    </tbody>
  </table>
  <div class="form-title py-3">
    <h2 class="text-warning">Adresse personnelle</h2>
  </div>
  <table class="table table-sm table-striped">
    <tbody>
      <tr>
        <td class="text-primary form-col"> <%= f.label :address,label: "Adresse" %></td>
        <td> <%= f.input_field :address,  placeholder: "rés, bât, n°, voie, lieu-dit", class: "form-control" %></td>
      </tr>
      <tr>
        <td class="text-primary"> <%= f.label :zipcode,label: "Code Postal" %></td>
        <td> <%= f.input_field :zipcode, class: "form-control" %></td>
      </tr>
      <tr>
        <td class="text-primary"> <%= f.label :city,label: "Commune" %></td>
        <td> <%= f.input_field :city, class: "form-control" %></td>
      </tr>
      <tr>
        <td class="text-primary"> <%= f.label :country,label: "Pays" %></td>
        <td> <%= f.input_field :country, class: "form-control",  as: :country, priority: [ "France" ] %></td>
      </tr>
    </tbody>
  </table>
  <div class="form-title py-3">
    <h2 class="text-warning">Autre données personnelles</h2>
  </div>
  <table class="table table-sm table-striped">
    <tbody>
      <tr>
        <td class="text-primary"> <%= f.label :ssn,label: "Numéro de sécurité sociale" %></td>
        <td> <%= f.input_field :ssn,   class: "form-control" %></td>
      </tr>
      <tr>
        <td class="text-primary"> <%= f.label :phone_number,label: "Numéro de téléphone" %></td>
        <td> <%= f.input_field :phone_number, class: "form-control" %></td>
      </tr>
      <tr>
        <td class="text-primary"> <%= f.label :remarks,label: "Observations" %></td>
        <td> <%= f.input_field :remarks, class: "form-control" %></td>
      </tr>
    </tbody>
  </table>
  <%= f.submit "Suivant", class: "btn btn-primary h2 py-2" , id: "next-btn"%>
<% end %>
<br>
<br>
<br>
