<%= simple_form_for(@user, remote: true) do |f| %>
  <h2>Déclaration relative à la personne</h2>
  <%= f.input :birth_last_name, label: "Nom de naissance" %>
  <%= f.input :use_name, label: "Nom d'usage"  %>
  <%= f.input :first_name, label: "Prénoms" %>
  <%= f.input :pseudonym, label: 'Pseudonyme' %>
  <%= f.input :citizenship, label: "Nationalité", as: :country, priority: [ "France" ]  %>
  <%= f.input :gender, label: "Sexe", collection: ["M", "F"] %>
  <%= f.input :birth_date,
                              label: 'Né(e) le',
                              input_html: { class: "birth-calendar" }
                              %>
  <%= f.input :birth_department, label: "Département de naissance",
                                collection: (["01", "02", "03", "04", "05", "06", "07", "08", "09"]+(10..95).to_a+[971, 971, 973, 974, 976]) %>
  <%= f.input :birth_city, label: "Commune de naissance" %>
  <%= f.input :birth_country, label: "Pays de naissance", as: :country, priority: [ "France" ] %>
  <h2>Adresse personnelle</h2>
  <%= f.input :address, label: "Domicile", placeholder: "rés, bât, n°, voie, lieu-dit" %>
  <%= f.input :zipcode, label: "Code postal" %>
  <%= f.input :city, label: "Commune" %>
  <%= f.input :country, label: "Pays", as: :country, priority: [ "France" ] %>
  <h2>Autres données personnelles</h2>
  <%= f.input :ssn, label: "Votre n° de sécurité sociale" %>
  <%= f.input :phone_number, label: "Tél" %>
  <%= f.input :remarks, label: "Observations" %>
  <%= f.submit "Suivant", class: "btn btn-primary"%>
<% end %>
