<%= render 'shared/navbar' %>
<%= render '/pages/sidebar' %>
<div class="dashboard-content">
  <div class="container">
    <ul class="list-inline tabs-underlined" >
      <li>
        <% if @user.form_user_filled? == true %>
          <%= link_to(company_registration_path(tab: "personal_info"), class: "tab-underlined #{'active' if params[:tab] == 'personal_info'}") do %>
            <i class="fa fa-check" aria-hidden="true" style="color: black"></i> Informations personnelles
          <% end %>
        <% else %>
          <%= link_to "Informations personnelles", company_registration_path(tab: "personal_info"), class: "tab-underlined #{'active' if params[:tab] == 'personal_info'}"   %>
        <% end %>
      </li>
      <li>
        <i class="fas fa-arrow-circle-right"></i>
      </li>
      <li>
        <% if @user.form_company_all_filled? == true %>
          <%= link_to(company_registration_path(tab: "company_info"), class: "tab-underlined #{'active' if params[:tab] == 'company_info'}") do  %>
            <i class="fa fa-check" aria-hidden="true" style="color: black"></i> Informations de l'entreprise
          <% end %>
        <% else %>
          <%= link_to "Informations de l'entreprise", company_registration_path(tab: "company_info"), class: "tab-underlined #{'active' if params[:tab] == 'company_info'}"  %>
        <% end %>
      </li>
      <li>
        <i class="fas fa-arrow-circle-right"></i>
      </li>
      <li>
        <% if @user.form_user_filled? == true && @user.form_company_all_filled? == true %>
          <!-- Rajouter dans la condition la création du CERFA et alors la coche -->
          <%= link_to "Générer le CERFA", company_registration_path(tab: "cerfa_informations"), class: "tab-underlined #{'active' if params[:tab] == 'cerfa'}" %>
        <% else %>
          <%= link_to "Générer le CERFA", company_registration_path(tab: "cerfa_informations"), class: "tab-underlined #{'active' if params[:tab] == 'cerfa'}" %>
        <% end %>
      </li>
    </ul>
    <hr>
    <% if params[:tab] == "personal_info" %>
      <div class="dashboard-information">
        <%= render '/users/personal_info', locals: { user: @user }%>
      </div>
    <% end %>
    <% if params[:tab] == "company_info" %>
      <div class="dashboard-information">
        <%= render '/users/company_info', locals: { user: @user } %>
      </div>
    <% end %>
    <% if params[:tab] == "cerfa_informations" %>
      <div class="dashboard-information">
        <% if @user.form_user_filled? == true && @user.form_company_all_filled? == true %>
          <p>Votre CERFA est prêt à être téléchargé</p>
          <%# <%= link_to "Générer votre Cerfa", company_registration_path, class: "btn btn-primary ml-4"  %> %>
          <%= render '/pages/cerfa_informations', locals: { user: @user }  %>
        <% else %>
          <p>Il manque des informations pour générer votre CERFA</p>
          <%= render '/pages/cerfa_informations', locals: { user: @user }  %>
          <%# <%= link_to "Générer votre Cerfa", company_registration_path, class: "btn btn-secondary ml-4"  %> %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
