<%= render 'shared/navbar' %>
<%= render '/pages/sidebar' %>
<div class="dashboard-content">
  <div class="container">
    <ul class="list-inline tabs-underlined" >
      <li class="font-weight-bold text-primary">
        <% if @user.form_user_filled? == true %>
          <%= link_to(company_registration_path(tab: "personal_info"), class: "tab-underlined #{'active' if params[:tab] == 'personal_info'}") do %>
            Informations personnelles  <i class="fa fa-check-circle registration-icon fa-lg" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= link_to "Informations personnelles", company_registration_path(tab: "personal_info"), class: "tab-underlined font-weight-bold #{'active' if params[:tab] == 'personal_info'}"   %>
        <% end %>
      </li>
      <li  class="font-weight-bold">
        <% if @user.form_company_all_filled? == true %>
          <%= link_to(company_registration_path(tab: "company_info"), class: "tab-underlined #{'active' if params[:tab] == 'company_info'}") do  %>
            Informations de l'entreprise   <i class="fa fa-check-circle registration-icon fa-lg" aria-hidden="true"></i>
          <% end %>
          <%= link_to(company_registration_path(tab: "cerfa_informations"), class: "tab-underlined #{'active' if params[:tab] == 'cerfa_informations'}") do  %>
            Téléchargez votre déclaration   <i class="fas fa-file-download  registration-icon fa-lg"></i></i>
        <% end %>
      <% else %>
        <%= link_to "Informations de l'entreprise", company_registration_path(tab: "company_info"), class: "tab-underlined #{'active' if params[:tab] == 'company_info'}"  %>
        <%= link_to "Téléchargez votre cerfa", company_registration_path(tab: "cerfa_informations"), class: "tab-underlined #{'active' if params[:tab] == 'cerfa_informations'}"  %>
      <% end %>
    </li>
  </ul>
  <hr>
  <% if params[:tab] == "personal_info" %>
    <div class="dashboard-information">
      <%= render '/users/personal_info', locals: { user: @user }%>
    </div>
  <% end %>
  <% if params[:tab] == "company_info" %>
    <div class="dashboard-information">
      <%= render '/users/company_info', locals: { user: @user } %>
    </div>
  <% end %>
  <% if params[:tab] == "cerfa_informations" %>
    <div class="dashboard-information">
      <%= render '/pages/cerfa_informations', locals: { user: @user }  %>
    </div>
  <% end %>
</div>
</div>
