<section id="navbar">
  <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top ">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= link_to "/" , class: "navbar-brand" do %>
          <%= image_tag "logo.svg", width: 40 %>
        <% end %>
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
          <li class="nav-item"><%= link_to "Créer son activité", new_user_session_path, class: "nav-link text-primary" %></li>
          <li class="nav-item"><%= link_to "Modifier son activité", new_user_session_path, class: "nav-link text-primary" %></li>
          <li class="nav-item"><%= link_to "Créer son activité", new_user_session_path, class: "nav-link text-primary" %></li>
          <li class="nav-item"><%= link_to "Articles", "#", class: "nav-link text-primary" %></li>
          <li class="nav-item"><%= link_to "cerfa", fill_path, class: "nav-link text-primary" %></li>
        </ul>
        <nav class="navbar navbar-light bg-light">
          <% if user_signed_in? %>
            <a class="nav-item dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><img class="rounded-circle"
                            src="https://via.placeholder.com/50" alt="avatar"></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><%= link_to "Mon tableau de bord" , dashboard_path, class: "dropdown-item text-primary" %></li>
              <li><%= link_to "Mes informations", my_informations_path, class: "dropdown-item text-primary" %></li>
              <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item text-primary" %></li>
            </ul>
          <% else %>
            <%= link_to "Se Connecter", new_user_session_path, class: "nav-link btn btn-sm btn-outline-primary rounded-pill  nav-item", id:"login" %>
            <%= link_to "Créer un compte", new_user_registration_path, class: "nav-link btn btn-sm  btn-primary rounded-pill  nav-item" %>
          <% end %>
        </nav>
      </div>
    </div>
  </nav>
</section>
