<div class="row form-title py-3">
  <div class="col ">
    <h2 class="text-warning">Votre dossier est prêt à être envoyé</h2>
  </div>
</div>
<p class="py-3">Les informations ci-dessous sont correctes,  <%= link_to "téléchargez votre cerfa", cerfa_download_path, class: "buttonDownload" %> ou <%= link_to "corrigez vos informations", company_registration_path(tab: "personal_info") %></p>
<h4>Adresse d'envoi du cerfa : <br>
  Chambre de Commerce et d' Industrie de Lyon
  Palais du Commerce Place de la Bourse, 21 Rue de la République, 69289 Lyon</h4>
<table class="table table-sm table-striped">
  <thead>
    <tr >
      <th colspan="2">Informations Renseignées</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nom</td>
      <td class="font-weight-bold"><%= current_user.birth_last_name %></td>
    </tr>
    <tr>
      <td>Prénoms</td>
      <td class="font-weight-bold"><%= current_user.first_name %></td>
    </tr>
    <tr>
      <td>Nom d'usage</td>
      <td class="font-weight-bold"><%= current_user.use_name %></td>
    </tr>
    <tr>
      <td>Nationalité</td>
      <td class="font-weight-bold">Française</td>
    </tr>
    <tr>
      <td>Pseudonyme</td>
      <td class="font-weight-bold"><%= current_user.pseudonym %></td>
    </tr>
    <tr>
      <td>Adresse</td>
      <td class="font-weight-bold"><%= current_user.address %></td>
    </tr>
    <tr>
      <td>Code Postal</td>
      <td class="font-weight-bold"><%= current_user.zipcode %></td>
    </tr>
    <tr>
      <td>Code Postal</td>
      <td class="font-weight-bold"><%= current_user.zipcode %></td>
    </tr>
    <tr>
      <td>Ville</td>
      <td class="font-weight-bold"><%= current_user.city %></td>
    </tr>
  </tbody>
</table>
