<div class="row form-title py-3">
  <div class="col ">
    <h2 class="text-warning">Votre dossier est prêt à être envoyé</h2>
  </div>
  <div class="col">
    <%= link_to "Téléchargez votre cerfa", cerfa_download_path, class: "buttonDownload" %>
  </div>
</div>
<h3>Adresse d'envoi du cerfa : <br>
  Chambre de Commerce et d' Industrie de Lyon
  Palais du Commerce Place de la Bourse, 21 Rue de la République, 69289 Lyon</h3>
<p>Merci de vérifier les informations renseignées</p>
<%= link_to "Corrigez vos informations", company_registration_path(tab: "personal_info") %>
<br>
<table class="table table-sm table-striped">
  <thead>
    <tr class="bg-warning text-white">
      <th colspan="2">Informations Renseignées</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nom</td>
      <td class="font-weight-bold"><%= current_user.birth_last_name %></td>
    </tr>
    <tr>
      <td>Prénoms</td>
      <td class="font-weight-bold"><%= current_user.first_name %></td>
    </tr>
    <tr>
      <td>Nom d'usage</td>
      <td class="font-weight-bold"><%= current_user.use_name %></td>
    </tr>
    <tr>
      <td>Nationalité</td>
      <td class="font-weight-bold">Française</td>
    </tr>
    <tr>
      <td>Pseudonyme</td>
      <td class="font-weight-bold"><%= current_user.pseudonym %></td>
    </tr>
  </tbody>
</table>
