<div class="col-2  sidebar bg-secondary  mt-3 fixed-top">
  <div class="row side-bar-title-container align-items-center justify-content-center">
    <div class="col-2 sidebar-icon">
      <i class="fas fa-chart-line dashboard-icon fa-2x"></i>
    </div>
    <div class="col-10  mr-auto sidebar-title">
      <%=  link_to "Dashboard",  invoices_calculate_path, class: "nav-link sidebar-link"  %>
    </div>
    <div class="w-100 "> <hr></div>
    <div class="col-2 sidebar-icon">
      <i class="fas fa-file-invoice dashboard-icon fa-2x"></i>
    </div>
    <div class="col-10 sidebar-title">
      <%=  link_to "Générer une facture",  new_invoice_path, class: "nav-link sidebar-link" %>
    </div>
    <div class="w-100"> <hr></div>
    <div class="col-2 sidebar-icon">
      <i class="fas fa-address-card dashboard-icon  fa-2x"></i>
    </div>
    <div class="col-10 sidebar-title">
      <%= link_to "Mes informations",  my_informations_path, class: "nav-link sidebar-link" %>
    </div>
    <div class="w-100 "><hr></div>
    <div class="col-2 sidebar-icon">
      <i class="fas fa-history dashboard-icon  fa-2x"></i>
    </div>
    <div class="col-10 sidebar-title">
      <%= link_to "Mes démarches", my_informations_path,  class: "nav-link sidebar-link" %>
    </div>
    <div class="w-100 "><hr></div>
    <div class="col-2 sidebar-icon">
      <i class="fas fa-bell dashboard-icon  fa-2x"></i>
    </div>
    <div class="col-10 sidebar-title">
      <%= link_to "Mes notifications",  my_informations_path, class: "nav-link sidebar-link" %>
    </div>
  </div>
</div>
