<h1>Création d'entreprise</h1>
<p>Merci de vérifier les informations renseignées</p>
<table>
  <tr>
    <td>Nom</td>
    <td><%= current_user.birth_last_name %></td>
  </tr>
  <tr>
    <td>Prénom</td>
    <td><%= current_user.first_name %></td>
  </tr>
  <tr>
    <tr>
      <td>Nom d'usage</td>
      <td><%= current_user.use_name %></td>
    </tr>
    <tr>
      <td>Nationalité</td>
      <td><%= current_user.citizenship %></td>
    </tr>
    <tr>
      <td>Pseudonyme</td>
      <td><%= current_user.pseudonym %></td>
    </tr>
  </table>
  <%= link_to "Téléchargez votre cerfa", download_path %>
