<%= render 'shared/navbar_sansachat' %>


<div class="row pt-4 d-flex justify-content-between my-0 py-0">
      <div class="col-12 dashboard-chart-card">
        <div class='mb-2' style="font-size: 1.5rem">VOS devis </div>
        <div class='mt-6 py-2'>
          <div class="dashboard-upper-part-card px-0" style="width: 95%">
            <table class="table">
            <tbody>
              <% @devis.each do |devi| %>
              <tr>
                <td style="border-top: 0px; font-size: 1.2rem"> <%= devi.name %></td>
                <td style="border-top: 0px; opacity: 0.6"><%= devi.amount  %> <i class="fas fa-euro-sign"></i></td>
                <td class= "date-italics" style="border-top: 0px"><%= devi.devis_at  %> </td>
                <td style="border-top: 0px"><span class="badge badge-secondary" style= "background-color: #edae2f"><%= devi.success  %> </span></td>
                <td style="border-top: 0px"><%= link_to root_path do %><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="À déclarer à l'URSAFF"></i><% end %></td>
              </tr>
            <% end %>
            <tr>
                <td style="border-top: 0px; font-size: 1.2rem"> Somme des devis</td>
                <td style="border-top: 0px; font-size: 1.2rem"> <%= @somme_devis %></td>

              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
</div>

